



body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: aleo, sans-serif;
	overflow-x: hidden;
	color: #555
}
img {
	vertical-align: middle;
}

::placeholder {
	color: #9b9b9b
}

.app-wrapper {
	position: relative;
	max-width: 750px;
	margin: 10px auto;
	border: 1px solid #9c9e9c;
	background-color: #fff
}

@media (max-width:767.98px) {
	.app-wrapper {
		margin: 0
	}
}

.pop-up {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	background-color: #fff;
	max-width: 450px;
	padding: 50px
}

.pop-up input {
	margin-bottom: 20px;
	padding: 10px
}

.pop-up_wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: rgba(165,165,165,.7);
	z-index: 100;
}

.pop-up__title {
	margin-bottom: 30px;
	font-weight: 700
}

.pop-up__btn-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between
}

@media (max-width:767.98px) {
	.pop-up__btn-wrapper {
		flex-direction: column-reverse
	}
}

.btn-add,
.btn-close {
	display: block;
	margin: 0;
	width: 90px;
	padding: 5px 10px;
	text-align: center;
	font-weight: 700;
	border-radius: 7px;
	text-transform: uppercase;
	cursor: pointer
}

@media (max-width:767.98px) {
	.btn-add,
	.btn-close {
		width: auto
	}
}

.btn-close {
	border: 1px solid #000;
	color: #000
}

@media (max-width:767.98px) {
	.btn-close {
		margin-top: 10px
	}
}

.btn-add {
	border: 1px solid #73d300;
	color: #73d300
}

.page-header {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #9c9e9c;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center
}

@media (max-width:767.98px) {
	.page-header {
		justify-content: center
	}
	.page-header__img {
		display: none
	}
	.page-header__title {
		font-size: 18px
	}
}

.page-header__img {
	margin-right: 10px
}

.page-header__img img {
	width: 30px
}

.page-header__title {
	color: #000;
	font-weight: 700
}

.btn {
	display: block;
	max-width: 100px;
	margin: 0 auto;
	color: #73d300;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid #73d300;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3px;
	border-radius: 7px;
	text-align: center;
	position: relative;
	outline: 0;
	transition: border-color .1s ease
}

@media (max-width:767.98px) {
	.btn {
		margin: 20px;
		max-width: none;
		width: auto;
		font-size: 18px
	}
}

.btn::after {
	-webkit-transition: border-color .2s ease;
	-o-transition: border-color .2s ease;
	transition: border-color .2s ease;
	position: absolute;
	content: '';
	height: 4px;
	bottom: 0;
	width: 100%;
	opacity: .18;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	left: 0
}

.btn:focus,
.btn:hover {
	text-decoration: none;
	color: #65ba00
}

.btn:hover::after {
	opacity: .22
}

.btn:active::after {
	opacity: .32
}

.add-new-img {
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer
}

.list-galery {
	padding: 0 20px
}

.list-galery__item {
	width: auto;
	margin: 0 auto;
	margin-bottom: 40px;
	border: 2px solid #d6d3d6
}

.list-galery__item-header {
	border-bottom: 2px solid #d6d3d6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	font-weight: 700;
	padding: 20px
}

@media (max-width:767.98px) {
	.list-galery__item-header {
		justify-content: center
	}
}

.list-galery__item-title {
	font-weight: 700
}

.list-galery__item_delete {
	color: #bd1818;
	font-size: 13px;
	cursor: pointer
}

@media (max-width:767.98px) {
	.list-galery__item_delete {
		display: none
	}
}

.list-galery__item_mobile-delete_wrapper{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.list-galery__item_mobile-delete_cancel{
	display: flex;
	background-color: rgba(73, 165, 77, 0.7);
	height: 30%;
	color: #fff;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer
}

.list-galery__item_mobile-delete {
	display: flex;
	height: 70%;
	color: #bd4542;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	background-color: rgba(173, 158, 156, .8);
	cursor: pointer
}



.list-galery__item-img {
	position: relative
}

.list-galery__item-img img {
	width: 100%
}